@font-face {
  font-family: 'Pixel-KSP';
  src: url('Pixel-UniCode.ttf');
}
@font-face {
  font-family: 'KSP';
  src: url('KSP.ttf');
}
div, p
{ 
	word-wrap: break-word;
}
.item-menu-px
{
	font-family: 'Pixel-KSP';
	font-size: 225%;
}
.logo
{
	font-family: 'KSP';
	font-size: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.logoimg
{
	width: 60px;
	margin-top: -10px;
}
.logo-marge
{
	margin-top: 10px;
}
.titlebar
{
	float: top;
	width: 100%;
	color: #F5F5F5;
	background-color: #050505;
	position: fixed;
	z-index:10;
}
.titlebox
{
	width: 440px;
	margin-left: auto;
	margin-right: auto;
}
ul
{
    list-style-type: none;
}
.menu
{
	float: left;
	position: fixed;
	background-color: #303030;
	color: #F0F0F0;
	padding-top: 55px;
	height: 100%;
	width: 16.66%;
	background-repeat: repeat-y;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
section
{
	padding-left: 17.5%;
	margin-left: 17.5%;
	padding-right: 1%;
	margin-right: 1%;
	padding-top: 60px;
}
a.up
{
	color: #F5F5F5;
	transition: 0.5s;
}
a.up:hover
{
	color: #00F000;
	transition: 0.5s;
}
a.down
{
	color: #F5F5F5;
	transition: 0.5s;
}
a.down:hover
{
	color: #F00000;
	transition: 0.5s;
}
a.lien-menu
{
	color: #F0F0F0;
	transition: 0.5s;
}
a.lien-menu:hover
{
	color: #F00000;
	padding-left: 10px;
	transition: 0.5s;
	text-decoration: blink;
}
a.publ
{
	color: #F0F0F0;
	transition: 0.5s;
}
a.publ:hover
{
	color: #80F080;
	padding-left: 10px;
	transition: 0.5s;
	text-decoration: blink;
}
a.accu
{
	color: #F0F0F0;
	transition: 0.5s;
}
a.accu:hover
{
	color: #8080F0;
	padding-left: 10px;
	transition: 0.5s;
	text-decoration: blink;
}
a
{
	color: #050505;
	transition: 0.5s;
}
a:hover
{
	color: #F00000;
	transition: 0.5s;
	text-decoration: blink;
}
.aligne
{
	vertical-align: middle;
}
.ksp-font
{
	font-family: Pixel-KSP;
	font-size: 140%;
}
select
{
	padding-top: 8px;
	padding-bottom: 8px;
}
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 1px solid black;
	margin: 2px;
}
.imgcell
{
	width: 10%;
}
img
{
	width: 100%;
}
.fiche
{
	padding-right: 5%;
	margin-right: 5%;
}